body{
    margin:0;
    display:flex;
    justify-content: center;
    font-family:Arial, Helvetica, sans-serif
}
.whitebox{
    display:block;
    justify-content:center;
    align-items:center;
    box-shadow: 0 0 10px -2px rgba(0,0,0,0.2);
    margin-top:15em;
}
h1{
    display:flex;
    justify-content:center;
}
form{
    padding:10px;
    border:none;
    flex-direction:column;
}
.input{
    flex:1;
    border-radius:5px;
    width:500px;
    height:50px;
}

#login{
    border-radius:5px;
    width:500px;
    height:50px;
    background-color:rgb(102, 176, 240);
    font-size:16px;
    color:white;
    flex:1;
    transition:ease background-color 0.2s;
    cursor:pointer;
    border:none;
    box-shadow:0 0 10px -2px rgba(0,0,0,0.5);
}
#login:hover{
    background-color:rgb(138, 189, 233);
}